body {
    color:#333;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Arial";
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    background: rgb(95, 143, 206);
}

.cabecera {
    background: #33A url(./imagenes/falcon.png); 
    color: black;
    margin: 0;
    padding: 0.5em;
    font-weight: bold;
    border-radius: 20px; 
    height: 100px;

}
.container {
    width: 40%;
    color: blue;
    text-align: center;
    border: 5px solid blue;
    padding: 2px;
    font-size: 23px;
    margin: 1%;
}

.container__h1 {
     color: red;
     font-size: 26px;
 }

 .foot {
     background: yellow;
     padding: 2px; 
 }

